@font-face {
    font-family: "Raleway-Medium";
    src: url("./Fonts/Raleway/static/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("./Fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("./Fonts/Roboto/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #f5d3d1, #fff3e1);
    /* Soft gradient background */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Raleway-Medium", sans-serif;
    color: #493D2B;
}

/* Start Cooking Page */
#startPage {
    height: 30%;
    display: block;
    text-align: center;
    color: #493D2B;
    /* Set the text color */

}

#startPageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}



.selected {
    background: linear-gradient(to bottom, #ffd699, #ffedcc);
    color: #493D2B;
}